
@using System.Globalization;
@using System.Threading;
@model WebApplication4.Models.User
@{ 
    ViewBag.Title = "Home Page";

}
@using (Html.BeginForm())
{
    Html.ValidationSummary(true);
    <div class="editor-label">
        @Html.LabelFor(m => m.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(m => m.Name)
        </div>
        <div class="editor-label">
            @Html.LabelFor(m => m.Email)
        </div>
        <div class="editor-field">
            @Html.EditorFor(m => m.Email)
        </div>
        <div class="editor-label">
            @Html.LabelFor(m => m.Phone)
        </div>
        <div class="editor-field">
            @Html.EditorFor(m => m.Phone)
        </div>
        <input type="submit" value="Submit">
}
@{ 
    CultureInfo currentculture = Thread.CurrentThread.CurrentCulture;
    <a href="/Home/ChangeCulture/1">Hindi</a>
}


